# DATABASE CONFIGURATION - POSTGRESQL
DB_HOST=192.168.X.XXX
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=999999
DB_DATABASE=platform
DB_SCHEMA=public
DB_SYNCHRONIZE=true

# MESSAGE BROKER - NATS
NATS_SERVERS="nats://localhost:4222"
